<script src="https://unpkg.com/vue@3"></script>

<style>
	table {
		border: 1px solid black
	}
</style>

<div id="app">
	<label for='currentBalanceInput'>Current Balance</label>
	<input id='currentBalanceInput' type='number' v-model='currentBalance' />
	<br>

	<label for='interestRateInput'>Interest Rate</label>
	<input id='interestRateInput' type='number' v-model='interestRate' />
	<br>

	<label for='monthlyPaymentInput'>Monthly Payment</label>
	<input id='monthlyPaymentInput' type='number' v-model='monthlyPayment' />

	<h4>Assumptions</h4>
	<ul>
		<li>Base payments are made on the first day of each month</li>
		<li>Principal only payments are made after the base payments</li>
		<li>The first payment is made starting the next month</li>
	</ul>

	<button @click='addPrincipalOnlyPayment'>Add Principal Only Payment</button>

	<br><br>
	<div>
		<table>
			<tr>
				<th>Memo</th>
				<th>Amount</th>
				<th>Start Date</th>
				<th>Frequency</th>
				<th>End Date</th>
			</tr>
			<tr v-for='principalOnlyPayment in principalOnlyPayments'>
				<td><input type="text" /></td>
				<td><input type="number" v-model="principalOnlyPayment.amount" /></td>
				<td><input type="date" v-model="principalOnlyPayment.startDateString"
						:min="formatDateForHTMLAttribute(getMinStartDate())" />
				</td>
				<td><select v-model="principalOnlyPayment.frequency">
						<option v-for="option in frequencyOptions" :value="option.value">{{ option.text }}</option>
					</select>
				</td>
				<td><input type="date" v-model="principalOnlyPayment.endDateString"
						:disabled="principalOnlyPayment.frequency==0" :min="principalOnlyPayment.startDateString" />
				</td>
			</tr>
		</table>
	</div>

	<br>
	<br>

	<button @click="updateMessage()">Compute</button>
	<button @click="clear()">Clear</button>

	<div v-if="showComputation">
		<div v-if="computation.isPossible">
			Years to pay: {{ computation.yearsToPay }} <br>
			Months to pay: {{ computation.monthsToPay }} <br>
			Final Payment: {{ formatter.format(computation.finalAmount) }}
		</div>
		<div v-else>
			Loan not possible under given configurations <br>
			{{ computation.message }}
		</div>
	</div>

</div>

<script>
	class PrincipalOnlyPayment {
		constructor() {
			this.amount = 0;
			this.frequency = 0;
			this.startDateString = "";
			this.endDateString = "";
			this.startDateDate;
			this.endDateDate;
		}
	}

	class ComputationResult {
		constructor(isPossible, monthsToPay, finalAmount, message = '') {
			this.isPossible = isPossible;
			this.yearsToPay = Math.floor(monthsToPay / 12);
			this.monthsToPay = monthsToPay % 12;
			this.finalAmount = finalAmount;
			this.message = message;
		}
	}

	const frequencyOptions = [
		'Once',
		'Monthly',
		'Quarterly',
		'Semiannually',
		'Annually'
	];

	let app = Vue.createApp({
		data() {
			return {
				currentBalance: 299236.13,
				interestRate: 0.035,
				monthlyPayment: 2139.19,
				computation: undefined,
				principalOnlyPayments: [new PrincipalOnlyPayment()],
				showComputation: false,
				formatter: new Intl.NumberFormat('en-US', {
					style: 'currency',
					currency: 'USD',
					minimumTractionDigits: 2
				}),
				frequencyOptions: frequencyOptions.map((item, index) => { return { text: item, value: index } }),
			}
		},
		methods: {
			performAndSetComputation() {
				this.parseAndSetDates();
				if (this.monthlyPayment == 0) {
					this.computation = new ComputationResult(false, -1, -1, 'Monthly Payment must be greater than zero dollars');
					return;
				}

				let balance = this.currentBalance;
				let numMonths = 0;
				while (balance > 0) {
					let currentMonthInterst = this.interestRate * balance / 12;
					if (currentMonthInterst > this.monthlyPayment) {
						this.computation = new ComputationResult(false, -1, -1);
						return;
					}
					let amountToPrincipal = this.monthlyPayment - currentMonthInterst;
					balance -= amountToPrincipal;
					numMonths++;
				}
				this.computation = new ComputationResult(true, numMonths, balance * -1);
			},
			parseAndSetDates() {
				for (let extraPayment of this.principalOnlyPayments) {
					var parts = extraPayment.startDateString.split("-")
					extraPayment.startDateDate = new Date(parts[2], parts[1] - 1, parts[0])
					// https://stackoverflow.com/questions/7556591/is-the-javascript-date-object-always-one-day-off

					extraPayment.startDateDate = new Date(extraPayment.startDateString);
					extraPayment.endDateDate = new Date(extraPayment.endDateString);
				}

				for (let extraPayment of this.principalOnlyPayments) {
					console.log(extraPayment.startDateDate)
				}
			},
			updateMessage() {
				this.showComputation = true;
				this.performAndSetComputation();
			},
			addPrincipalOnlyPayment() {
				this.principalOnlyPayments.push(new PrincipalOnlyPayment());
			},
			clear() {
				this.currentBalance = 0;
				this.interestRate = 0;
				this.monthlyPayment = 0;
				computation = undefined;
				this.showComputation = false;
				this.principalOnlyPayments = [new PrincipalOnlyPayment()];
			},
			getMinStartDate() {
				let minDate = new Date();
				minDate.setDate(1);
				minDate.setMonth(minDate.getMonth() + 1);
				return minDate;
			},
			formatDateForHTMLAttribute(date) {
				return date.toISOString().split('T')[0]
			},
			getExtraPrincipal(monthIndex) {
				let totalPrincipalOnlyPayment = 0;
				for (let extraPayment of this.principalOnlyPayments) {
					// filter on dates
				}
			}
		}
	}).mount('#app')
</script>





0 = April


quarterly payments starting in September (i = 5)


5, 8, 12,



Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec


Given currently month counter and starting month, and for each rule:
- first month counter (8
- frequency	      (3

return bool should add payment

if startDate < current < endDate &&
(indexOfFirstMonth) % frequency == (counter + startingMonth) % frequency

(10) % (6) == (7 + 3) % 6 true

(10) % (6) == (13 + 3) % 6  true
