<script src="https://unpkg.com/vue@3"></script>

<style>
	table {
		border: 1px solid black
	}
</style>

<div id="app">
	<label for='currentBalanceInput'>Current Balance</label>
	<input id='currentBalanceInput' type='number' v-model='currentBalance' />
	<br>

	<label for='interestRateInput'>Interest Rate</label>
	<input id='interestRateInput' type='number' v-model='interestRate' />
	<br>

	<label for='monthlyPaymentInput'>Monthly Payment</label>
	<input id='monthlyPaymentInput' type='number' v-model='monthlyPayment' />

	<h4>Assumptions</h4>
	<ul>
		<li>Scheduled payments are made on the first day of each month if there is an outstanding balance on the loan</li>
		<li>Principal only payments are applied before the scheduled payment </li>
	</ul>

	<button @click='addPrincipalOnlyPayment'>Add Principal Only Payment</button>

	<br><br>
	<div>
		<table>
			<tr>
				<th>Amount</th>
				<th>Start Month</th>
				<th>Start Year</th>
				<th>Frequency</th>
				<th>End Month</th>
				<th>End Year</th>
			</tr>
			<tr v-for='principalOnlyPayment in principalOnlyPayments'>
				<td><input type="number" v-model="principalOnlyPayment.amount" /></td>
				<td><select v-model="principalOnlyPayment.startMonth"><option v-for="month in months" :value="month.index">{{ month.monthName }}</option></select></td>
				<td><input type="number" min="2022" step="1" v-model="principalOnlyPayment.startYear" /></td>
				<td><select v-model="principalOnlyPayment.frequency">
						<option v-for="option in frequencyOptions" :value="option.value">{{ option.text }}</option>
					</select>
				</td>
				<td><select v-model="principalOnlyPayment.endMonth"><option v-for="month in months" :value="month.index">{{ month.monthName }}</option></select></td>
				<td><input type="number" min="2022" step="1" v-model="principalOnlyPayment.endYear" /></td>
			</tr>
		</table>
	</div>

	<br>
	<br>

	<button @click="onSubmit()">Compute</button>
	<button @click="clear()">Clear</button>

	<div v-if="showComputation">
		<div v-if="computation.isPossible">
			Years to pay: {{ computation.yearsToPay }} <br>
			Months to pay: {{ computation.monthsToPay }} <br>
			Final Payment: {{ formatter.format(computation.finalAmount) }}
		</div>
		<div v-else>
			Loan not possible under given configurations <br>
			{{ computation.message }}
		</div>
	</div>

</div>

<script>
	class PrincipalOnlyPayment {
		constructor() {
			this.amount = 0;
			this.startMonth = 0;
			this.startYear = 0;
			this.frequency = 0;
			this.endMonth = 0;
			this.endYear = 0;
		}
	}

	class ComputationResult {
		constructor(isPossible, monthsToPay, finalAmount, message = '') {
			this.isPossible = isPossible;
			this.yearsToPay = Math.floor(monthsToPay / 12);
			this.monthsToPay = monthsToPay % 12;
			this.finalAmount = finalAmount;
			this.message = message;
		}
	}

	const frequencyOptions = [
		'Once',
		'Monthly',
		'Quarterly',
		'Semiannually',
		'Annually'
	];

	const months = [
		{ monthName: 'January', index: 0 },
		{ monthName: 'February', index: 1 },
		{ monthName: 'March', index: 2 },
		{ monthName: 'April', index: 3 },
		{ monthName: 'May', index: 4 },
		{ monthName: 'June', index: 5 },
		{ monthName: 'July', index: 6 },
		{ monthName: 'August', index: 7 },
		{ monthName: 'September', index: 8 },
		{ monthName: 'October', index: 9 },
		{ monthName: 'November', index: 10 },
		{ monthName: 'December', index: 11 },
	]

	let app = Vue.createApp({
		data() {
			return {
				currentBalance: 299236.13,
				interestRate: 0.035,
				monthlyPayment: 2139.19,
				computation: undefined,
				principalOnlyPayments: [new PrincipalOnlyPayment()],
				showComputation: false,
				formatter: new Intl.NumberFormat('en-US', {
					style: 'currency',
					currency: 'USD',
					minimumTractionDigits: 2
				}),
				frequencyOptions: frequencyOptions.map((item, index) => { return { text: item, value: index } }),
				months: months,
			}
		},
		methods: {
			onSubmit() {
				for (let payment of this.principalOnlyPayments) {
					console.log(payment.amount);
					console.log(payment.startMonth);
					console.log(payment.startYear);
					console.log(payment.frequency);
					console.log(payment.endMonth);
					console.log(payment.endYear);
					console.log('------');
				}
				// this.showComputation = true;
				// if (this.monthlyPayment == 0) {
				// 	this.computation = new ComputationResult(false, -1, -1, 'Monthly Payment must be greater than zero dollars');
				// 	return;
				// }

				// let balance = this.currentBalance;
				// let numMonths = 0;
				// while (balance > 0) {
				// 	let currentMonthInterst = this.interestRate * balance / 12;
				// 	if (currentMonthInterst > this.monthlyPayment) {
				// 		this.computation = new ComputationResult(false, -1, -1);
				// 		return;
				// 	}
				// 	let amountToPrincipal = this.monthlyPayment - currentMonthInterst;
				// 	balance -= amountToPrincipal;
				// 	numMonths++;
				// }
				// this.computation = new ComputationResult(true, numMonths, balance * -1);
			},
			addPrincipalOnlyPayment() {
				this.principalOnlyPayments.push(new PrincipalOnlyPayment());
			},
			clear() {
				this.currentBalance = 0;
				this.interestRate = 0;
				this.monthlyPayment = 0;
				computation = undefined;
				this.showComputation = false;
				this.principalOnlyPayments = [new PrincipalOnlyPayment()];
			}
		}
	}).mount('#app')
</script>

<!--

Forget the index of the month of the year, it doesn't matter (it doesn't matter if there's 12 month in a year or 39, for recurring payment,
we're just designating a point in time at which the payments will begin, and then moding off that start count)	

if
	(counter >= startMonthIndex) &&
	(counter <= endMonthIndex)
	(counter - startMonth) % frequency == 0

TODO
- instead of a date selector, make a month and year selector for dates
-date validation:->