<script src="https://unpkg.com/vue@3"></script>

<div id="app">
	<label for='currentBalanceInput'>Current Balance</label>
	<input id='currentBalanceInput' type='number' v-model='currentBalance' />
	<br>

	<label for='interestRateInput'>Interest Rate</label>
	<input id='interestRateInput' type='number' v-model='interestRate' />
	<br>

	<label for='monthlyPaymentInput'>Monthly Payment</label>
	<input id='monthlyPaymentInput' type='number' v-model='monthlyPayment' />
	<br>
	<br>

	<button @click="updateMessage()">Compute</button>

	<div v-if="showComputation">
		<div v-if="computation.isPossible">
			Years to pay: {{ computation.yearsToPay }} <br>
			Months to pay: {{ computation.monthsToPay }} <br>
			Final Payment: {{ formatter.format(computation.finalAmount) }}
		</div>
		<div v-else>
			Loan not possible under given configurations
		</div>
	</div>
</div>

<script>
	class PrincipalOnlyPayment {
		constructor() {
			this.amount = 0;
			this.frequency = 0;
			this.firstOccurance = new Date();
		}
	}

	class ComputationResult {
		constructor(isPossible, monthsToPay, finalAmount) {
			this.isPossible = isPossible;
			this.yearsToPay = Math.floor(monthsToPay / 12);
			this.monthsToPay = monthsToPay % 12;
			this.finalAmount = finalAmount;
		}
	}

	Vue.createApp({
		data() {
			return {
				currentBalance: 299236.13,
				interestRate: 0.035,
				monthlyPayment: 2139.19,
				computation: undefined,
				showComputation: false,
				formatter: new Intl.NumberFormat('en-US', {
					style: 'currency',
					currency: 'USD',
					minimumTractionDigits: 2
				})
			}
		},
		methods: {
			performAndSetComputation() {
				let balance = this.currentBalance;
				let numMonths = 0;
				while (balance > 0) {
					let currentMonthInterst = this.interestRate * balance / 12;
					if (currentMonthInterst > this.monthlyPayment) {
						this.computation = new ComputationResult(false, -1, -1);
						return;
					}
					let amountToPrincipal = this.monthlyPayment - currentMonthInterst;
					balance -= amountToPrincipal;
					numMonths++;
				}
				this.computation = new ComputationResult(true, numMonths, balance * -1);
			},
			updateMessage() {
				this.showComputation = true;
				this.performAndSetComputation();
				console.log(this.computation);
			}
		}
	}).mount('#app')
</script>